{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>Toutes les catégories : </h1>

    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('category_show', { 'categoryName': category.name }) }}">
                    {{ category.name }}
                </a>
            </li>

        {% else %}
            Aucune catégorie trouvée.
        {% endfor %}
    </ul>

    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}